input[type="text"] {
  width: 100%;
  height: 55px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dcdcdc;
  font-size: 2rem;
  text-align: center;
}

.keyboard-item {
  /* border: 1px solid #2a81d0;
  border-radius: 4px;
  height: 60px; */

  border-radius: 8px;
  border: 1px solid #B2E0FF;
  background: rgba(178, 224, 255, 0.20);
}

.keyboard-panel {
  width: 100%;
  /* border: 1px solid #dcdcdc;
  border-radius: 6px; */
  /* padding: 5px; */
  background-color: #f8f8f8;
}

.numpad, .numpad-util {
  border-radius: 8px;
  border: 1px solid #B2E0FF;
  background: rgba(178, 224, 255, 0.20);
  color: #2A9FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
}

.numpad-util {
  font-size: 16px;
}

.grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 12px;
}

table {
  width: 100%;
  border-radius: 6px;
}

td {
  width: 33.33%;
  height: 70px;
  padding: 5px;
  border: 3px solid none;
}

.btn-keyboard,
.btn-disabled,
.btn-next {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: #2a81d0;
  background-color: white;
  font-size: 1.2rem;
}

.btn-keyboard:active,
.btn-keyboard:visited {
  animation: changeColor ease-in-out 0.3s;
}

.btn-disabled:disabled {
  opacity: 0.5;
}

.row-numpad {
  display: flex;
  height: 41.5px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.numpad {
  border-radius: 8px;
  border: 1px solid #B2E0FF;
  background: rgba(178, 224, 255, 0.20);
}

@keyframes changeColor {
  0% {
    background-color: #2a81d0;
    color: white;
  }

  25% {
    background-color: #2a81d0;
    color: white;
  }

  50% {
    background-color: #2a81d0;
    color: white;
  }

  75% {
    background-color: #2a81d0;
    color: white;
  }

  100% {
    background-color: white;
  }
}

.keyboard-box {
  max-width: 450px !important;
  margin: 0px auto !important;
}