.keyboard-box {
  max-width: 450px;
  margin: 0px auto;
}

input[type="text"] {
  width: 100%;
  height: 55px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dcdcdc;
  font-size: 2rem;
  text-align: center;
}
.keyboard-item {
  border: 1px solid #2a81d0;
  border-radius: 4px;
  height: 60px;
}

.keyboard-panel {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 5px;
  background-color: #f8f8f8;
}
table {
  width: 100%;
  border-radius: 6px;
}

td {
  width: 33.33%;
  height: 70px;
  padding: 5px;
  border: 3px solid none;
}

.btn-keyboard,
.btn-disabled,
.btn-next {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: #2a81d0;
  background-color: white;
  font-size: 1.2rem;
}

.btn-keyboard:hover {
  animation: changeColor ease-in-out 0.3s;
}

.btn-disabled:disabled {
  opacity: 0.5;
}

@keyframes changeColor {
  0% {
    background-color: #2a81d0;
    color: white;
  }
  25% {
    background-color: #2a81d0;
    color: white;
  }
  50% {
    background-color: #2a81d0;
    color: white;
  }
  75% {
    background-color: #2a81d0;
    color: white;
  }
  100% {
    background-color: white;
  }
}
