<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="3"></app-aio-back-and-stepper>
<section>
  <div class="container">
    <div class="row pb-3">
      <div class="col-6 p-0">
        <h3 class="font-weight-bold mb-2">Xác nhận thông tin</h3>
        Quý khách kiểm tra lại thông tin và nhập các thông tin còn thiếu
      </div>
      <div class="col-6 img-info text-right p-0">
        <img [src]="face" alt="" />
        <img class="ml-3" [src]="aioSvc.frontCardId" alt="" />

        <img class="ml-3" [src]="aioSvc.backCardId" alt="" />
      </div>
    </div>
    <div class="row p-3 bg-white box">
      <div class="col-6 left">
        <div>
          <table>
            <tr>
              <td>Họ và tên</td>
              <td class="font-weight-bold">
                {{ aioSvc.customerInfo.fullName }}
              </td>
            </tr>
            <tr>
              <td>Giới tính</td>
              <td class="font-weight-bold">{{ aioSvc.customerInfo.gender }}</td>
            </tr>
            <tr>
              <td>Ngày sinh</td>
              <td class="font-weight-bold">{{ aioSvc.customerInfo.dob }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div>
          <table>
            <tr>
              <td>Số CCCD</td>
              <td class="font-weight-bold">
                {{ aioSvc.customerInfo.customerID }}
              </td>
            </tr>
            <tr>
              <td>Ngày cấp</td>
              <td class="font-weight-bold">
                {{ aioSvc.customerInfo.issueDate }}
              </td>
            </tr>

            <tr>
              <td>Địa chỉ thường trú</td>
              <td class="font-weight-bold">
                {{ aioSvc.customerInfo.address }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center pt-5">
      <button class="btn-next" (click)="confirm()">Xác nhận</button>
    </div>
  </div>
</section>
