<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="3"></app-aio-back-and-stepper>
<section>
  <div class="container">
    <div class="text-center">
      <h3 class="font-weight-bold mb-4">Xác nhận thông tin</h3>
      <h5 class="mb-4">Quý khách vui lòng kiểm tra lại thông tin cá nhân</h5>
    </div>
    <div class="row p-3 bg-white box">
      <div class="col-6 left">
        <div>
          <table>
            <tr>
              <td>Họ và tên</td>
              <td class="font-weight-bold">TRAN MINH HOANG LONG</td>
            </tr>
            <tr>
              <td>Số điện thoại</td>
              <td class="font-weight-bold">0979 327 455</td>
            </tr>
            <tr>
              <td>Giới tính</td>
              <td class="font-weight-bold">Nam</td>
            </tr>
            <tr>
              <td>Ngày sinh</td>
              <td class="font-weight-bold">16/03/1995</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div>
          <table>
            <tr>
              <td>Số CCCD</td>
              <td class="font-weight-bold">231053235256</td>
            </tr>
            <tr>
              <td>Ngày cấp</td>
              <td class="font-weight-bold">06/05/2022</td>
            </tr>
            <tr>
              <td>Nơi cấp</td>
              <td class="font-weight-bold">CCS QLHC về TTXH</td>
            </tr>
            <tr>
              <td>Địa chỉ thường trú</td>
              <td class="font-weight-bold">
                268 Nam Kỳ Khởi Nghĩa, P.8, Q.3, TP.HCM
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="col-12 pt-4 mt-4">
        <div>
          <table class="fill-table">
            <tr>
              <td class="w-50">
                <mat-checkbox [color]="'primary'"
                  >Địa chỉ liên lạc trùng với địa chỉ thường trú</mat-checkbox
                >
              </td>
              <td class="w-50 pl-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Nhập địa chỉ liên lạc</mat-label>
                  <input matInput required />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="w-50">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Nhập email của bạn</mat-label>
                  <input matInput required />
                </mat-form-field>
              </td>
              <td class="w-50 pl-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Vui lòng chọn nghề nghiệp</mat-label>
                  <mat-select>
                    <mat-option value="one">Chây đơ</mat-option>
                    <mat-option value="two">Thợ code</mat-option>
                    <mat-option value="two">King</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center pt-5">
      <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
    </div>
  </div>
</section>
