.keyboard-box {
  max-width: 450px;
  margin: 0px auto;
}

.btn-next {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: #2a81d0;
  background-color: white;
  font-size: 1.2rem;
}

.btn-next {
  background-color: #2a81d0;
  color: white;
  height: 60px;
}

.otp-item {
  background-color: white;
  display: inline-block;
  width: 62.5px;
  height: 62.5px;
  margin-right: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 28px;
  line-height: 62.5px;
  text-align: center;
}

.otp-item.last {
  margin-right: 0px;
}

.btn-next:disabled:hover {
  background-color: #2a81d0;
}

.btn-next:disabled {
  opacity: 0.5;
}

.account-type-label::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background-color: #f0f2f7;
  display: inline-block;
  margin-right: 7px;
  vertical-align: sub;
}

.active.account-type-label::before {
  background-color: white;
  border: 5px solid #2a81d0;
  transition: ease-out 0.2s;
}

.account-type {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 6px;
}

.active.account-type {
  border: 2px solid #2a81d0;
  transition: ease-in-out 0.2s;
}

.text-sacom {
  color: #1b54c3 !important;
  line-height: 2rem;
}

.w-10 {
  width: 10% !important;
}
