<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="4"></app-aio-back-and-stepper>
<section>
  <div class="container">
    <div class="text-center">
      <h3 class="font-weight-bold mb-4">
        Quý khách vui lòng nhập mã OTP được gửi đến điện thoại của quý khách
      </h3>
    </div>
    <div class="text-center keyboard-box">
      <div>
        <input
          type="text"
          class="otp-item"
          *ngFor="let item of arrOtp; last as last; let i = index"
          [ngClass]="{ last: last }"
          [value]="showOtp(i)"
        />
      </div>
      <app-keyboard-number
        (inputNumberEvent)="recieveInputNumber($event)"
      ></app-keyboard-number>

      <button class="btn-next mt-4" (click)="confirm()">Xác nhận</button>
      <div class="pt-4 text-primary">Gửi lại mã (60s)</div>
    </div>
  </div>
</section>
