<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="1"></app-aio-back-and-stepper>
<section>
  <div class="container text-center">
    <div>
      <h3 class="font-weight-bold">Gợi ý chụp ảnh khuôn mặt</h3>
    </div>

    <div class="pt-5">
      <img
        src="../../../../assets/all-in-one/shared/img/tip-capture.png"
        class="img img-fluid"
        alt=""
      />
      <br />
      <button class="btn btn-primary mt-5" (click)="next()">Tôi đã hiểu</button>
    </div>
  </div>
</section>
