<div class="text-center">
  <div class="text-center">
    <ng-container *ngIf="type == 'input'">
      <mat-form-field appearance="outline" class="w-50">
        <input
          matInput
          readonly
          [(ngModel)]="value"
          autofocus="false"
          disabled
        />
        <mat-icon matSuffix (click)="clearAll()">cancel</mat-icon>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="type == 'textarea'">
      <mat-form-field appearance="outline" class="w-100">
        <textarea
          rows="5"
          matInput
          readonly
          [(ngModel)]="value"
          autofocus="false"
          disabled
          placeholder="Góp ý khác (nếu có)"
        ></textarea>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="simple-keyboard"></div>
</div>
