<div class="text-center">
  <div class="text-center">
    <mat-form-field appearance="outline" class="w-50">
      <input matInput readonly [(ngModel)]="value" autofocus="false" />
      <mat-icon matSuffix (click)="clearAll()">cancel</mat-icon>
    </mat-form-field>
    <!-- <div class="inner-addon right-addon">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      <input type="text" class="form-control" autofocus="false" readonly />
    </div> -->
  </div>
  <div class="simple-keyboard"></div>
</div>
