<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="2"></app-aio-back-and-stepper>

<section>
  <div class="container text-center">
    <div>
      <h3 class="mb-3 font-weight-bold">Xác thực CCCD & vân tay</h3>
      <h5>Vui lòng đưa CCCD và đặt vân tay vào thiết bị</h5>
    </div>
    <ng-container *ngIf="!fpResponse.icaoResponse">
      <div class="py-4 gif">
        <ng-lottie
          [options]="input"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
    </ng-container>
    <ng-container *ngIf="fpResponse.icaoResponse">
      <div class="py-4 gif animate__animated animate__zoomIn">
        <ng-lottie
          [options]="check"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
      </div>
    </ng-container>
  </div>
</section>
