<app-aio-back-and-stepper [currentStep]="1"></app-aio-back-and-stepper>
<section>
  <div class="container text-center">
    <div>
      <h4 class="mb-3 font-weight-bold text-sacom-pri">Xác thực CCCD & vân tay</h4>
      <h6>Vui lòng đưa CCCD và đặt vân tay vào thiết bị để xác nhận danh tính của quý khách</h6>
    </div>
    <ng-container *ngIf="!fpResponse.icaoResponse">
      <div class="py-4 gif">
        <ng-lottie
        *ngIf="!isScanning"
          [options]="input"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
        <ng-lottie
        *ngIf="isScanning"
        [options]="fingerScan"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      </div>
    </ng-container>
  </div>
</section>
