<app-aio-back-and-stepper [currentStep]="4"></app-aio-back-and-stepper>
<section *ngIf="
    (checkAuthType(authType.mCodeOTP) ||
      checkAuthType(authType.mConnect) ||
      checkAuthType(authType.SmartOTP) ||
      checkAuthType(authType.SmartOTPCode))
  ">
  <!-- Smart OTP -->
  <ng-container *ngIf="
        checkAuthType(authType.SmartOTP) || checkAuthType(authType.SmartOTPCode)
      ">
    <div class="text-center py-4">
      <img src="assets/all-in-one/shared/img/smartOTP.svg" alt="" class="w-10" />
    </div>
    <div class="container">
      <div class="row p-5 bg-white rounded border">
        <div class="col-12 mb-4">
          <h4 class="text-sacom-pri text-center">Quý khách vui lòng chọn phương thức xác thực</h4>
        </div>
        <div class="col-6">
          <div class="form-check mb-2" (click)="selectAuthType(authType.SmartOTPCode)">
            <input class="form-check-input" type="radio" name="sPayRadio" id="smartOTPCode">
            <label class="form-check-label" for="smartOTPCode">
              Smart OTP code
            </label>
          </div>
          <div class="small">Đăng nhập Sacombank Pay - Smart OTP để lấy mã xác thực</div>
        </div>
        <div class="col-6">
          <div class="form-check mb-2" (click)="selectAuthType(authType.SmartOTP)">
            <input class="form-check-input" type="radio" name="sPayRadio" id="smartOTP">
            <label class="form-check-label" for="smartOTP">
              Sacombank Smart OTP
            </label>
          </div>
          <div class="small">Duyệt giao dịch trên Sacombank Pay - Smart OTP</div>
        </div>
        <!-- <div class="col-4">
          <div class="bg-white p-3 account-type mb-4" (click)="selectAuthType(authType.SmartOTP)"
            [ngClass]="{ active: currentAuthType == authType.SmartOTP }">
            <div class="d-inline-block">
              <span class="account-type-label" [ngClass]="{ active: currentAuthType == authType.SmartOTP }">Sacombank
                Smart OTP</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="bg-white p-3 account-type mb-4" (click)="selectAuthType(authType.SmartOTPCode)"
            [ngClass]="{ active: currentAuthType == authType.SmartOTPCode }">
            <div class="d-inline-block">
              <span class="account-type-label" [ngClass]="{ active: currentAuthType == authType.SmartOTPCode }">Smart
                OTP Code</span>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </ng-container>

  <!-- End Smart OTP -->

  <!-- mSign -->
  <ng-container *ngIf="
        checkAuthType(authType.mCodeOTP) || checkAuthType(authType.mConnect)
      ">
    <div class="text-center py-4">
      <img src="assets/all-in-one/shared/img/mSign.svg" alt="" class="w-10" />
    </div>

    <div class="container">
      <div class="row p-5 bg-white rounded border">
        <div class="col-12 mb-4">
          <h4 class="text-sacom-pri text-center">Quý khách vui lòng chọn phương thức xác thực</h4>
        </div>
        <div class="col-6">
          <div class="form-check mb-2" (click)="selectAuthType(authType.mCodeOTP)">
            <input class="form-check-input" type="radio" name="sPayRadio" id="mCodeOTP">
            <label class="form-check-label" for="mCodeOTP">
              mCode
            </label>
          </div>
          <div class="small">Đăng nhập ứng dụng mSign đế lấy mã xác thực</div>
        </div>
        <div class="col-6">
          <div class="form-check mb-2" (click)="selectAuthType(authType.mConnect)">
            <input class="form-check-input" type="radio" name="sPayRadio" id="mConnect">
            <label class="form-check-label" for="mConnect">
              mConnected
            </label>
          </div>
          <div class="small">Duyệt giao dịch trên ứng dụng mSign</div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- End mSign -->

  <div class="text-center mt-4">
    <div class="col-12 text-center">
      <button class="btn-pri" (click)="next()" [disabled]="!currentAuthType">Tiếp tục</button>
    </div>
  </div>
</section>