.processing-panel {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  background-color: white;
  display: table;
}

.processing-box {
  display: table-cell;
  vertical-align: middle;
}

.processing-animate {
  width: 10% !important;
  margin-inline: auto;
}

.processing-text {
  font-size: 1.8rem;
  color: #0058a0 !important;
  line-height: 3rem;
}
