.item {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

section {
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  background: rgb(236, 236, 236);
}
