<app-aio-header></app-aio-header>
<section *ngIf="step == 1">
  <div class="container pt-3">
    <h3 class="text-center">Hướng dẫn chụp CCCD</h3>
    <div class="row mt-3">
      <div class="col-12">
        <div class="item">
          <div class="d-inline-block px-2">
            <span class="material-icons"> description </span>
          </div>
          <div class="d-inline-block">
            Sử dụng giấy tờ gốc, không scan, không copy
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="item">
          <div class="d-inline-block px-2">
            <span class="material-icons"> lightbulb </span>
          </div>
          <div class="d-inline-block">
            Chụp ảnh trong môi trường ánh sáng tốt...
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="item">
          <div class="d-inline-block px-2">
            <span class="material-icons"> collections </span>
          </div>
          <div class="d-inline-block">Đảm bảo hình ảnh rõ nét và nằm ...</div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        Bằng việc bấm Tiến hành chụp, quý khách đã đồng ý với Điều khoản và Điều
        kiện sử dụng của Sacombank
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button class="btn btn-primary w-100" (click)="next()">
          Bắt đầu chụp
        </button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="step == 2">
  <div class="container pt-3">Chụp mặt trước CCCD</div>
  <div class="p-3 text-center">
    <input
      type="file"
      name="uploader"
      id="uploader"
      accept="image/*"
      (change)="fileChange($event, 'front')"
      #upLoadFront
      class="d-none"
    />
    <br />
    <div *ngIf="front">
      <img [src]="front" class="img img-fluid" />
    </div>
  </div>
  <div class="footer p-3">
    <div class="row">
      <div class="col">
        <button class="btn-warning btn w-100" (click)="upLoadFront.click()">
          <ng-container *ngIf="front">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            Chụp lại
          </ng-container>
          <ng-container *ngIf="!front">
            <i class="fa fa-camera" aria-hidden="true"></i>

            Chụp ảnh
          </ng-container>
        </button>
      </div>
      <div class="col">
        <button type="submit" class="btn-primary btn w-100">Xác nhận</button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="step == 3">
  <div class="container pt-3">Chụp mặt sau CCCD</div>
  <div>
    <input
      type="file"
      name="uploader"
      id="uploader"
      accept="image/*"
      (change)="fileChange($event, 'back')"
      #upLoadBack
      class="d-none"
    />
    <br />
    <div *ngIf="front">
      <img [src]="front" class="img img-fluid w-25 mt-4" />
    </div>
  </div>
  <div class="footer p-3">
    <div class="row">
      <div class="col">
        <button class="btn-warning btn w-100" (click)="upLoadBack.click()">
          Chụp ảnh
        </button>
      </div>
      <div class="col">
        <button type="submit" class="btn-primary btn w-100">Xác nhận</button>
      </div>
    </div>
  </div>
</section>
