<div class="text-right">
  <mat-icon matSuffix (click)="dialogRef.close()">close</mat-icon>
</div>
<div class="mb-3 text-center">
  <h4>Đánh giá</h4>
  <div class="py-3" *ngIf="type == 1">
    <ng-container *ngFor="let item of reasonList">
      <div class="reason-item px-3 py-2 mx-2" [ngClass]="{'selected': item.isSelected}" (click)="selectReason(item)">{{ item.text }}</div>
    </ng-container>
  </div>
</div>
<app-aio-virtual-keyboard
  (onChangeEvent)="onChangeEvent($event)"
  (onKeyPressEvent)="onKeyPressEvent($event)"
  [title]="'Đánh giá'"
  [value]="comment"
  [type]="'textarea'"
></app-aio-virtual-keyboard>
