<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="3"></app-aio-back-and-stepper>
<section>
  <div class="container">
    <div class="text-center">
      <h3 class="font-weight-bold mb-4">Bổ sung thông tin</h3>
      <h5 class="mb-4">Quý khách vui lòng bổ sung thông tin bên dưới</h5>
    </div>
    <div class="row p-3 bg-white box">
      <div class="col-6">
        <div>
          <table class="table-add-info">
            <tr>
              <td>
                <mat-checkbox class="example-margin hide"
                  >Địa chỉ liên lạc trùng với địa chỉ thường trú</mat-checkbox
                >
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Nhập email của bạn</mat-label>
                  <input matInput [formControl]="email" required />
                  <mat-error *ngIf="email.invalid">{{
                    getErrorMessage()
                  }}</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Vui lòng chọn nghề nghiệp</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Cấp bậc</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div>
          <table class="table-address">
            <tr>
              <td>
                <mat-checkbox class="example-margin"
                  >Địa chỉ liên lạc trùng với địa chỉ thường trú</mat-checkbox
                >
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Tỉnh / Thành phố</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Quận / Huyện</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Nơi cấp</td>
              <td class="font-weight-bold">CCS QLHC về TTXH</td>
            </tr>
            <tr>
              <td>Địa chỉ thường trú</td>
              <td class="font-weight-bold">
                268 Nam Kỳ Khởi Nghĩa, P.8, Q.3, TP.HCM
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center pt-5">
      <button class="btn btn-primary" (click)="confirm()">Xác nhận</button>
    </div>
  </div>
</section>
