*:not(.mat-icon) {
  font-family: "Manrope", sans-serif !important;
}

.exist-account {
  max-width: 400px;
}

.title{
  color: #0058A0;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.content{
  font-weight: 400;
}