<!-- Simple template: chỉ hiển thị nội dung -->
<ng-container *ngIf="data.template == template.Simple">
  <div class="text-center .exist-account">
    <h4 class="text-sacom-pri font-weight-bold">{{ data.title }}</h4>
    <div class="py-4" [innerHTML]="data.content"></div>
  </div>
</ng-container>
<!-- End Simple template -->

<!-- GoHome template: hiển thị tiêu đề thông báo và nút Về trang chủ -->
<ng-container *ngIf="data.template == template.GoHome">
  <div class="text-center">
    <div
      *ngIf="data.title"
      class="text-sacom-pri mt-3 title"
      [innerHTML]="data.title"
    ></div>
    <div
      *ngIf="data.content"
      class="mt-3 content"
      [innerHTML]="data.content"
    ></div>
    <button class="btn-pri my-4" (click)="goHome()">Về trang chủ</button>
    <h6 *ngIf="data.countDownTime">
      Tự động về trang chủ sau
      <span class="text-sacom-sec">{{ data.countDownTime }}</span> giây
    </h6>
  </div>
</ng-container>
<!-- End GoHome template -->

<!-- Action template -->
<ng-container *ngIf="data.template == template.HasAction">
  <div class="mt-3 text-center">
    <div
      *ngIf="data.title"
      class="text-sacom-pri mb-3 title"
      [innerHTML]="data.title"
    ></div>
    <div
      *ngIf="data.content"
      class="mb-3 content"
      [innerHTML]="data.content"
    ></div>
    <div class="my-4">
      <button class="btn-sec mx-2" (click)="action('sec')">
        {{ data.btnSecText }}
      </button>
      <button class="btn-pri mx-2" (click)="action('pri')">
        {{ data.btnPriText }}
      </button>
    </div>
    <h6 *ngIf="data.countDownTime">
      Tự động về trang chủ sau
      <span class="text-sacom-sec">{{ data.countDownTime }}</span> giây
    </h6>
  </div>
</ng-container>
<!-- End Action template -->

<!-- T & C template -->
<ng-container *ngIf="data.template == template.TermsAndConditions">
  <div class="mt-3 text-center">
    <div
      *ngIf="data.title"
      class="text-sacom-pri mb-3 title"
      [innerHTML]="data.title"
    ></div>
    <div class="my-4 text-center">
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        [original-size]="false"
        style="width: 500px; height: 500px; margin: 0px auto;"
      ></pdf-viewer>
      <button class="btn-pri mt-4" (click)="action('pri')">Đóng</button>
    </div>
  </div>
</ng-container>
<!-- End T & C template -->
