.o-0 {
  opacity: 0;
}

.countdown {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  display: table;
  border: 2px solid rgb(147, 171, 245);
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  background-color: #3c3c3c;
  opacity: 0.5;
}

.face-load {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}

.face-load-animate {
  width: 450px;
  height: 450px;
  margin-inline: auto;
  margin-top: 15px;
}

.countdown-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 7rem;
  color: rgb(147, 171, 245);
}

video {
  border: 2px solid rgb(147, 171, 245);
  border-radius: 15px;
}

.capture-box {
  position: relative;
}

.captured-img {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  display: table;
  /* border: 2px solid rgb(147, 171, 245); */
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}

.img {
  border-radius: 15px;
}

.btn-next,
.btn-back {
  width: 200px;
  height: 60px;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: white;
  background-color: #2a81d0;
  font-size: 1.2rem;
}

.btn-next:hover {
  background-color: #1966af;
}
.btn-next:disabled:hover {
  background-color: #2a81d0;
}

.btn-next:disabled {
  opacity: 0.5;
}

.btn-back {
  background-color: white;
  border: 1px solid #2a81d0;
  color: #2a81d0;
}
