<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="1"></app-aio-back-and-stepper>
<section>
  <div class="pb-5 text-center">
    <ng-container *ngIf="!captured">
      <h3 class="animate__animated animate__fadeIn">
        Vui lòng nhìn thẳng vào camera...
      </h3>
    </ng-container>
    <ng-container *ngIf="!isLoadingCountDown && captured">
      <h3 class="animate__animated animate__fadeIn">
        Quý khách vui lòng kiểm tra lại ảnh đã chụp
      </h3>
    </ng-container>
  </div>
  <div class="text-center capture-box">
    <div class="video-container text-center" [ngClass]="{ 'o-0': captured }">
      <video #video [width]="WIDTH" [height]="HEIGHT" autoplay muted></video>
      <div #canvas></div>
    </div>
    <div class="countdown" *ngIf="countDownTime > 0">
      <div class="countdown-text">
        <ng-container *ngIf="isLoadingCountDown">
          <i class="fa fa-spinner fa-spin"></i>
        </ng-container>
        <ng-container *ngIf="!isLoadingCountDown">
          {{ countDownTime }}
        </ng-container>
      </div>
    </div>
    <div class="captured-img" *ngIf="captured">
      <img
        [src]="captured"
        class="img img-fluid animate__animated animate__pulse"
        alt=""
      />
    </div>
  </div>
  <div class="text-center py-3" *ngIf="captured">
    <button class="btn btn-back mx-2" (click)="reCapture()">Chụp lại</button>
    <button class="btn btn-next mx-2" (click)="next()">Tiếp tục</button>
  </div>
</section>

<!-- <section class="py-5 text-center">
  <div *ngIf="face != ''">
    <img [src]="face" alt="" class="img img-fluid" />
  </div>
</section> -->
