.o-0 {
  opacity: 0;
}

.countdown {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  display: table;
  border: 2px solid rgb(147, 171, 245);
}

.countdown-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 7rem;
  color: rgb(147, 171, 245);
}

video {
  border: 2px solid rgb(147, 171, 245);
  border-radius: 15px;
}
