<app-aio-header></app-aio-header>
<section *ngIf="!isUnderstood">
  <div class="text-center pt-5">
    <img
      src="../../../../assets/all-in-one/on-boarding/tip-capture.png"
      class="img img-fluid"
      alt=""
    />
    <br />
    <button class="btn btn-primary mt-5" (click)="understood()">
      Tôi đã hiểu
    </button>
  </div>
</section>
<section *ngIf="isUnderstood && countDownTime > 0" class="py-5">
  <div class="text-center">
    <div class="countdown" *ngIf="countDownTime > 0">
      <div class="countdown-text">
        {{ countDownTime }}
      </div>
    </div>
  </div>
</section>
<section [ngClass]="{ 'o-0': !isUnderstood || face != '' }" class="py-5">
  <div class="video-container text-center">
    <video
      [ngClass]="{ 'o-0': countDownTime > 0 }"
      #video
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
      muted
    ></video>
    <div #canvas></div>
  </div>
</section>

<!-- <section class="py-5 text-center">
  <div *ngIf="face != ''">
    <img [src]="face" alt="" class="img img-fluid" />
  </div>
</section> -->
