.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 1 !important;
}

.o-05 {
  opacity: 0.5 !important;
}

.countdown {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  display: table;
  border: 2px solid rgb(147, 171, 245);
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  background-color: #3c3c3c;
}

.face-load {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}

.face-load-animate {
  width: 450px;
  height: 450px;
  margin-inline: auto;
  margin-top: 15px;
}

.countdown-text {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.count-down {
  position: absolute;
  max-width: 60px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.video-container {
  display: inline-block;
  border: 1px solid #aabbcc;
  padding: 10px;
  background: white;
  border-radius: 20px;
  line-height: 0;
}

video {
  border-radius: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-height: 280px;
  max-width: 373.333px;
}

.capture-box {
  position: relative;
}

.captured-img {
  width: 640px;
  height: 480px;
  border-radius: 15px;
  margin: 0px auto;
  display: table;
  position: absolute;
  top: 0px;
  transform: translateX(-50%) scaleX(-1);
  left: 50%;
  z-index: 100;
}

.img-face {
  border-radius: 10px;
  max-height: 280px;
  transform: scaleX(-1);
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-next,
.btn-back {
  width: 200px;
  height: 60px;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: white;
  background-color: #2a81d0;
  font-size: 1.2rem;
}

.btn-next:hover {
  background-color: #1966af;
}

.btn-next:disabled:hover {
  background-color: #2a81d0;
}

.btn-next:disabled {
  opacity: 0.5;
}

.btn-back {
  background-color: white;
  border: 1px solid #2a81d0;
  color: #2a81d0;
}
