<app-aio-back-and-stepper [currentStep]="2"></app-aio-back-and-stepper>
<section>
  <div class="container">
    <div class="text-center">
      <h4 class="mb-4 font-weight-bold text-sacom-pri">
        Xác nhận thông tin cập nhật
      </h4>
    </div>
    <div class="row p-4 bg-white rounded border">
      <div class="col-8">
        <table class="w-100">
          <tr>
            <td class="w-50">
              <h5 class="font-weight-bold text-sacom-pri">
                Thông tin hiện tại
              </h5>
            </td>
            <td class="font-weight-bold text-sacom-pri">
              <h5 class="font-weight-bold text-sacom-pri">
                Thông tin điều chỉnh
              </h5>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-light">Số CMNN</h6>
              <h5 class="font-weight-bold">
                {{ newCustomerInfo.customerIDOld }}
              </h5>
            </td>
            <td>
              <h6 class="font-weight-light">Số CMNN</h6>
              <h5 class="font-weight-bold">
                {{ newCustomerInfo.customerID }}
              </h5>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-light">Ngày cấp</h6>
              <h5 class="font-weight-bold">
                {{ currentCustomerInfo.customerInfo.issueDate }}
              </h5>
            </td>
            <td>
              <h6 class="font-weight-light">Ngày cấp</h6>
              <h5 class="font-weight-bold">
                {{ newCustomerInfo.issueDate }}
              </h5>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-light">Nơi cấp</h6>
              <h5 class="font-weight-bold">
                {{ currentCustomerInfo.customerInfo.issuePlace }}
              </h5>
            </td>
            <td>
              <h6 class="font-weight-light">Nơi cấp</h6>
              <h5 class="font-weight-bold">
                {{ newCustomerInfo.issuePlace }}
              </h5>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-light">Địa chỉ thường trú</h6>
              <h5 class="font-weight-bold">
                {{
                  concatAddress(
                    currentCustomerInfo.customerInfo.residentialAddress
                  )
                }}
              </h5>
            </td>
            <td>
              <h6 class="font-weight-light">Địa chỉ thường trú</h6>
              <h5 class="font-weight-bold">
                {{ newCustomerInfo.address }}
              </h5>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4 rounded border p-3">
        <div class="text-center">
          <h6 class="font-weight-light">Căn cước công dân</h6>
          <h5 class="font-weight-bold">{{ newCustomerInfo.fullName }}</h5>
          <img [src]="aioSvc.frontCardId" alt="" class="rounded mt-2" />
          <img [src]="aioSvc.backCardId" alt="" class="rounded mt-3" />
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <button class="btn-pri" (click)="confirm()">Xác nhận</button>
      </div>
    </div>
  </div>
</section>