.aio {
  /* background-image: url("assets/all-in-one/shared/bg.png"); */
  background-color: #f1f2f7 !important;
  min-height: 100vh;
  position: relative;

  font-family: "Manrope", sans-serif !important;
}
