.header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact-header {
  vertical-align: middle;
  color: #005aa3;
  font-weight: bold;
}

/* .tab-bar {
  border-radius: 100px;
  position: absolute;
  width: 100%;
  top: -3rem;
  color: #005aa3;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(43, 159, 255, 0.30);
} */

.tab-bar {
  border-radius: 100px;
  position: absolute;
  top: -3rem;
  color: #005aa3;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(43, 159, 255, 0.30);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.tab-item {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dash-board {
  min-height: 100vh;
  position: relative;
}

.footer {
  padding-top: 4.5rem;
  color: #0058A0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}