.header {
  border-radius: 12px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  position: absolute;
  z-index: 2;
}

.contact-header {
  vertical-align: middle;
  color: #005aa3;
  font-weight: bold;
}

.phone {
  width: 30px;
  height: 30px;
  color: white;
  background: #0058A0;
  text-align: center;
  border-radius: 50px;
  line-height: 30px;
  margin-right: 5px;
  font-size: 14px;
}