<iframe src="https://www.sacombank.com.vn/ca-nhan.html" name="sacom" id="sacom" style=" 
               width:100vw; height:90vh; 
               margin:0; padding:0;
               border:none;
                    ">

</iframe>
<div style="
                  border:2px solid #AABBCC;
                  width:100vw; height:6vh;
                  position:absolute;
                  bottom:-1rem;
                  left:0;
                  display:flex;
                  gap:2rem;
                  justify-content:center;
                  align-items:center;
                  background:#2772cc; 
                  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  padding:1rem;
                  ">
  <span routerLink="/self-exp">Home</span>
  <a href="https://isacombank.com.vn" target="sacom" style="
                   text-decoration:none;
                   color:#FFFFFF;
                   ">game</a>
</div>