<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="4"></app-aio-back-and-stepper>

<section *ngIf="!isCustomAccount">
  <div class="container">
    <div class="text-center">
      <h3 class="font-weight-bold mb-4">
        Lựa chọn tài khoản VND số đẹp (miễn phí)
      </h3>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div
          class="bg-white p-3 account-type mb-4"
          [ngClass]="{ active: currentAccountType == accountType.Phone }"
          (click)="selectAccountType(accountType.Phone)"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAccountType == accountType.Phone }"
              >Số điện thoại</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">
            938 483 697
          </div>
        </div>
        <div
          class="bg-white p-3 account-type mb-4"
          (click)="selectAccountType(accountType.CardId)"
          [ngClass]="{ active: currentAccountType == accountType.CardId }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAccountType == accountType.CardId }"
              >Số CCCD</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">
            15071000030
          </div>
        </div>
        <div
          class="bg-white p-3 account-type"
          (click)="selectAccountType(accountType.Random)"
          [ngClass]="{ active: currentAccountType == accountType.Random }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAccountType == accountType.Random }"
              >Ngân hàng tạo tự động</span
            >
          </div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="bg-white p-3 account-type mb-4"
          (click)="selectAccountType(accountType.DOB)"
          [ngClass]="{ active: currentAccountType == accountType.DOB }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAccountType == accountType.DOB }"
              >Ngày tháng năm sinh</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">9031995</div>
        </div>
        <div
          class="bg-white p-3 account-type"
          (click)="selectAccountType(accountType.Custom)"
          [ngClass]="{ active: currentAccountType == accountType.Custom }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAccountType == accountType.Custom }"
              >Số tài khoản tự chọn</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">
            <ng-container *ngIf="!customAccount">Nhập số</ng-container>
            <ng-container *ngIf="customAccount">{{
              customAccount
            }}</ng-container>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="text-center py-4">
      <h3 class="font-weight-bold">Đăng kí báo giao dịch tự động</h3>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div
          class="bg-white p-3 account-type mb-4"
          (click)="selectAlertType(alertType.OnlySPay)"
          [ngClass]="{ active: currentAlertType == alertType.OnlySPay }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAlertType == alertType.OnlySPay }"
              >Ứng dụng Sacombank Pay</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">Miễn phí</div>
        </div>
      </div>
      <div class="col-4">
        <div
          class="bg-white p-3 account-type mb-4"
          (click)="selectAlertType(alertType.SmsAndSPay)"
          [ngClass]="{ active: currentAlertType == alertType.SmsAndSPay }"
        >
          <div class="d-inline-block">
            <span
              class="account-type-label"
              [ngClass]="{ active: currentAlertType == alertType.SmsAndSPay }"
              >SMS và Sacombank Pay</span
            >
          </div>
          <div class="d-inline-block float-right text-secondary">Có phí</div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <mat-checkbox
          [color]="'primary'"
          class="example-margin"
          [(ngModel)]="tc"
          >Tôi đã đọc và đồng ý với Điều khoản và Điều kiện mở và sử dụng tài
          khoản của Sacombank</mat-checkbox
        >
      </div>
      <div class="col-2"></div>
    </div>
    <div class="text-center pt-5">
      <button
        class="btn btn-next w-25"
        (click)="confirm()"
        [disabled]="
          !currentAccountType ||
          !currentAlertType ||
          !tc ||
          !currentAccountNumber
        "
      >
        Tiếp tục
      </button>
    </div>
  </div>
</section>

<section *ngIf="isCustomAccount">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-4">
        <div><h4>Quy định nhập số TKTT tự chọn</h4></div>
        <div>
          <table class="table-rule">
            <tr *ngFor="let item of rules; let last = last">
              <td>
                <ng-container>
                  <i
                    *ngIf="!last && item.valid"
                    class="fa fa-check-circle text-success"
                    aria-hidden="true"
                  ></i>
                </ng-container>
                <ng-container>
                  <i
                    *ngIf="!last && !item.valid"
                    class="fa fa-circle text-secondary"
                    aria-hidden="true"
                  ></i>
                </ng-container>
                <i
                  *ngIf="last"
                  class="fa fa-info-circle text-warning"
                  aria-hidden="true"
                ></i>
              </td>
              <td>
                {{ item.text }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center keyboard-box">
          <div class="mb-4"><h4>Nhập số tài khoản tự chọn</h4></div>
          <div>
            <input
              type="text"
              readonly
              maxlength="10"
              [(ngModel)]="customAccountTemp"
            />
          </div>
          <app-keyboard-number
            (inputNumberEvent)="handleInputNumber($event)"
          ></app-keyboard-number>
          <div class="mt-4">
            <div class="w-50 d-inline-block pr-2">
              <button class="btn-back" (click)="back()">Quay lại</button>
            </div>
            <div class="w-50 d-inline-block pl-2">
              <button
                class="btn-next"
                [disabled]="!isValidCustomAccount"
                (click)="verifyCustomAccount()"
              >
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
