.account-type-label::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background-color: #f0f2f7;
  display: inline-block;
  margin-right: 7px;
  vertical-align: sub;
}

.active.account-type-label::before {
  background-color: white;
  border: 5px solid #2a81d0;
  transition: ease-out 0.2s;
}

.account-type {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 6px;
}

.active.account-type {
  border: 2px solid #2a81d0;
  transition: ease-in-out 0.2s;
}

.mat-checkbox-background {
  background-color: black !important;
}

.table-rule td {
  vertical-align: top;
  padding: 1rem 0.5rem;
}

.keyboard-box {
  max-width: 450px;
  margin: 0px auto;
}

input[type="text"] {
  width: 100%;
  height: 55px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dcdcdc;
  font-size: 2rem;
  text-align: center;
}

.btn-next,
.btn-back {
  width: 100%;
  height: 60px;
  outline: none;
  border: 1px solid #2a81d0;
  border-radius: 4px;
  color: white;
  background-color: #2a81d0;
  font-size: 1.2rem;
}

.btn-next:hover {
  background-color: #1966af;
}
.btn-next:disabled:hover {
  background-color: #2a81d0;
}

.btn-next:disabled {
  opacity: 0.5;
}

.btn-back {
  background-color: white;
  border: 1px solid #2a81d0;
  color: #2a81d0;
}

mat-checkbox {
  font-family: "Manrope", sans-serif !important;
}
