.btn-back {
  color: #0058a0;
}

.step-circle {
  height: 25px;
  width: 25px;
  margin: 0px auto;
  border-radius: 2rem;
  background-color: #AABBCC;
  color: white;
  line-height: 25px;
  font-size: 12px;
}

.step-circle.active {
  background-color: #F7941D;
  color: white;
}

.step-text {
  margin-bottom: 12px;
  color: black;
  font-size: 12px;
}

/* .step-text.active {
  color: #0058a0;
} */

.line {
  height: 2px;
  background-color: #AABBCC;
}

.line.active {
  background-color: #F7941D;
}

.col-2 {
  padding: 0px !important;
}

.step-line {
  position: absolute;
  top: 42px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.stepper-box {
  position: relative;
}

.step-line .col {
  padding: 0px !important;
}
