<app-aio-header></app-aio-header>
<app-aio-back-and-stepper [currentStep]="2"></app-aio-back-and-stepper>

<section>
  <div class="container text-center">
    <div>
      <h3 class="mb-3 font-weight-bold">Quét mã QR</h3>
      <h5>Scan QR để tiếp tục trên điện thoại của Quý khách</h5>
    </div>
    <div class="mt-4">
      <qrcode
        [qrdata]="qrValue"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </div>
    <div class="mt-4">
      <button (click)="next()" class="btn btn-primary">Tiếp tục</button>
    </div>
  </div>
</section>
