<div class="text-center py-4">
  <h4>Mời Quý khách đánh giá trải nghiệm dịch vụ</h4>
  <div>
    <div class="mt-4">
      <div class="survey-item"><button class="btn btn-primary" (click)="openInputSurveyDialog(3)">Tuyệt vời</button> </div>
      <div class="survey-item"><button class="btn btn-success" (click)="openInputSurveyDialog(2)">Hài lòng</button></div>
      <div class="survey-item"><button class="btn btn-warning" (click)="openInputSurveyDialog(1)">Không hài lòng</button></div>
    </div>
  </div>
</div>
