<app-aio-header></app-aio-header>
<app-aio-back-and-stepper
  [currentStep]="3"
  [isShowStepper]="false"
></app-aio-back-and-stepper>

<section>
  <div class="container">
    <div class="text-center">
      <h3 class="font-weight-bold mb-4">
        Xin chúc mừng, Quý khách đã mở tài khoản thành công
      </h3>
    </div>

    <div class="row bg-white rounded p-4">
      <div class="col-4">
        <div class="mb-3">Họ và tên</div>
        <div>
          <b> {{ aioSvc.customerInfo.fullName }}</b>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">Số tài khoản</div>
        <div class="mb-3">
          <b> {{ aioSvc.openAccountResponseData.accountNumber }}</b>
        </div>
        <div>Ngày hiệu lực <b>(Unknow)</b></div>
      </div>
      <div class="col-4">
        <div class="mb-3">Chi nhánh</div>
        <div class="mb-3"><b> Sacombank Hội Sở</b></div>
        <div>266-268 Nam Kỳ Khởi Nghĩa, P. 8, Q.3, TP.HCM</div>
      </div>
    </div>
    <div class="text-center py-4">
      <h4>Mời Quý khách đánh giá trải nghiệm dịch vụ</h4>
    </div>
  </div>
</section>
